[Unit]
Description=clockbot
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/clockbot
ExecStart=/opt/clockbot/clockbot.mjs
EnvironmentFile=/opt/clockbot/.env

[Install]
WantedBy=multi-user.target
